extends layout

block content
  .container
    .masthead
      div(style='margin-bottom: 10px;')
        img(height=42 width=42 src="/images/homecareiq_logo.png")
        | &nbsp;
        img(height=20 src="/images/homecareiq_name.png")
      ul.nav.nav-justified
        li
          a(href='/') Admin
        li.active
          a(href='/patients') Dashboard
        li
          a(href='#') About
        li
          a(href='#') Contact


     .content
       br
       a.profile-photo(href='#')
         img(height=42 width=42 src='/images/profile.jpg')
       strong Elizabeth Randall
       hr
     table.table.table-striped
      thead
        tr
          th Time
          th Task
          th Status
          th Comments
      tbody
        tr
          td Dec 27 10:20
          td
            strong Checking in
          td &nbsp;
          td &nbsp;
        - each task in tasks
          tr
            td= task.time
            td= task.task
            if task.status == "Confirmed" || task.status == "No"
              td.positive= task.status
            else
              td.negative= task.status
            td= task.comments
        tr
          td Dec 27 16:15
          td
            strong Checking out 
          td &nbsp;
          td &nbsp;
    hr
    h3 Duration: 5 hours, 55 mins

    //
       Site footer 
    .footer
      p © Company 2013
  //
     /container 
  //
     Bootstrap core JavaScript
        ================================================== 
  //
     Placed at the end of the document so the pages load faster 

